body{
    display: flex;
    justify-content: center;
    background-color: #08948f;

}

#calc button{
    border: none;
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color:white;
    padding: 8px;
    cursor: pointer;
}

button{
    background: #212020;
}

#calc button.clear{
    width: 140px;
    height: 60px;
    border-radius: 40px;
    background: #aba6a6;
    color: black;

}
.operation{
   background: #e49c18;
}

#wrap{
    margin-top: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 9px 7px 15px #131212;
}
#display{
    text-align: right;
    color: white;
    padding-top: 20px;
    background-color: black;
    font-size: 40px;
    padding-right: 20px;
}

button:focus{
    outline:none;
}